body {
    text-align: center;
}
.btn{
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 25px;
    margin: 2.5rem
}

.btn-container {
    display: flex;
    justify-content: center;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}
.flash{
    background-color: white;
}
.user_flash{
    background-color: green;
    opacity: 0.2;
}